@page
@model Forum.ThreadController.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/_ViewImports.cshtml";
}

<h1>Edit</h1>

<h4>Thread</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Thread.Id" />
            <div class="form-group">
                <label asp-for="Thread.Title" class="control-label"></label>
                <input asp-for="Thread.Title" class="form-control" />
                <span asp-validation-for="Thread.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thread.Text" class="control-label"></label>
                <input asp-for="Thread.Text" class="form-control" />
                <span asp-validation-for="Thread.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thread.DiscussionSubjectId" class="control-label"></label>
                <select asp-for="Thread.DiscussionSubjectId" class="form-control" asp-items="ViewBag.DiscussionSubjectId"></select>
                <span asp-validation-for="Thread.DiscussionSubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
